.typingCursor {
  display: inline-block;
  width: 5px;
  height: 50px;
  background-color: currentColor;
  animation: blink 0.7s step-end infinite;
  color: #444;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.text-gradient {
  background: linear-gradient(90deg, white, blue, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
